






nav{
    /*Bordes redondeados*/
    
    border-top-left-radius:0em;
border-top-right-radius:0em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/


    border: solid;
	border-width: 5px;
	border-color:white red #dadada red;
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    
    /*width:1210px;*/
    width:1240px;
    margin-left: 50px;

}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
    margin-left: 60px;
}
 
 nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
    margin-left: 50px;
    

}
nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #1de977));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #1de977);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #1de977);/*Opera*/
    background-image: linear-gradient(top, #FFF,  #1de977);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
    border:1px solid #E3E3E3;

}

nav ul li a{
    color:#65b031;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 1.4s linear all;

}
 

 nav ul li a:hover {
    color:#000;
}


.nav li{
    float: left;

}




